[submodule "frontend"]
	path = frontend
	url = https://github.com/JamesKristofUbiarco/Smart-Life-Coach-Frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:Yunojo/-Smart-Life-Coach-backend.git
